<div class="ly-arrow ly-arrow-black stroke" style="vertical-align: middle; width: 14.0px; height: 14.0px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.0 14.0" height="14.0px" width="14.0px"
        style="position: absolute;">
        <path d="M1 4.5 L7.0 10.5 L13.0 4.5" fill="transparent" stroke="white" stroke-width="1px"></path>
    </svg>
</div>