{% if collection.metafields.custom_fields["text_fresh_woman"] != blank %}
  <div class="custom-field custom-field__text-fresh-woman custom-field__type--text">
    <h3 class="custom-field--title">Testo Fresh Donna</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["text_fresh_woman"] }}
    </div>
  </div>
{% endif %}