{% if collection.metafields.custom_fields["banner_description_secondary"] != blank %}
  <div class="custom-field custom-field__banner-description-secondary custom-field__type--text">
    <h3 class="custom-field--title">Banner Description Secondary</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["banner_description_secondary"] }}
    </div>
  </div>
{% endif %}