{% if collection.metafields.custom_fields["img_fresh_man"] != blank %}
  <div class="custom-field custom-field__img-fresh-man custom-field__type--text">
    <h3 class="custom-field--title">Immagine Fresh Uomo</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["img_fresh_man"] }}
    </div>
  </div>
{% endif %}