{% if product.metafields.custom_fields["calze_banner_-_desc"] != blank %}
  <div class="custom-field custom-field__calze-banner---desc custom-field__type--text">
    <h3 class="custom-field--title">calze banner - desc</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["calze_banner_-_desc"] }}
    </div>
  </div>
{% endif %}