{% if collection.metafields.custom_fields["banner_description_like_second"] != blank %}
  <div class="custom-field custom-field__banner-description-like-second custom-field__type--text">
    <h3 class="custom-field--title">Banner Description Like Secondary Collection</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["banner_description_like_second"] }}
    </div>
  </div>
{% endif %}