{% if product.metafields.custom_fields["link_colore_alternativo"] != blank %}
  <div class="custom-field custom-field__link-colore-alternativo custom-field__type--url">
    <h3 class="custom-field--title">Link Colore Alternativo</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["link_colore_alternativo"] }}
    </div>
  </div>
{% endif %}