{% if collection.metafields.custom_fields["banner_secondary_feature3"] != blank %}
  <div class="custom-field custom-field__banner-secondary-feature3 custom-field__type--text">
    <h3 class="custom-field--title">Banner Secondary Feature3</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["banner_secondary_feature3"] }}
    </div>
  </div>
{% endif %}