{% if product.metafields.custom_fields["_dacron"] != blank %}
  <div class="custom-field custom-field__-dacron custom-field__type--number">
    <h3 class="custom-field--title">% PE</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["_dacron"] }}
    </div>
  </div>
{% endif %}