{% if collection.metafields.custom_fields["cta_link"] != blank %}
  <div class="custom-field custom-field__cta-link custom-field__type--text">
    <h3 class="custom-field--title">CTA Link 1</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["cta_link"] }}
    </div>
  </div>
{% endif %}