{% if collection.metafields.custom_fields["url_image"] != blank %}
  <div class="custom-field custom-field__url-image custom-field__type--text">
    <h3 class="custom-field--title">Url image</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["url_image"] }}
    </div>
  </div>
{% endif %}