{% if collection.metafields.custom_fields["img_warm_woman"] != blank %}
  <div class="custom-field custom-field__img-warm-woman custom-field__type--text">
    <h3 class="custom-field--title">Immagine Warm Donna</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["img_warm_woman"] }}
    </div>
  </div>
{% endif %}