{% if collection.metafields.custom_fields["banner_secondary_feature2"] != blank %}
  <div class="custom-field custom-field__banner-secondary-feature2 custom-field__type--text">
    <h3 class="custom-field--title">Banner Secondary Feature2</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["banner_secondary_feature2"] }}
    </div>
  </div>
{% endif %}