{% comment %} START - TRUST PILOT {% endcomment %}
<div class="recensioni-box outdoortest-box">
	<div class="recensioni-box__content">
        <p>TESTATO DA PROFESSIONISTI SU</p>
        <img
             src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-snow-outdoortestit-01_2x_66057343-573a-419c-9814-daa6460163e0.jpg?v=1640686758"
             alt="silverskin"
             />
        <img
             src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-snow-outdoortestit-02-desk_2x_5df45822-d390-4ce9-9592-64c500e56a3d.png?v=1640601972"
             alt="silverskin"
             />
        <a
           href="https://outdoortest.it/?s=silverskin&submit=Cerca"
           target="_blank"
           class="text-link"
           >READ ALL</a
          >
  	</div>
</div>
{% comment %} END - TRUST PILOT {% endcomment %}