{% comment %} START - TRUST PILOT {% endcomment %}
<div class="recensioni-box">
	<div class="recensioni-box__content">
        <p>LEGGI LE NOSTRE RECENSIONI SU</p>
        <img
             src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/trust-pilot-logo-white.png?v=1609433803"
             alt="silverskin"
             />
        <img
             src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/trust-pilot-stars.png?v=1609433802"
             alt="silverskin"
             />
        <a
           href="https://it.trustpilot.com/review/www.silverskin.it"
           target="_blank"
           class="text-link"
           >READ ALL</a
          >
  	</div>
</div>
{% comment %} END - TRUST PILOT {% endcomment %}