<div id="shopify-section-footer-promotions" class="shopify-section index-section--footer"><div class="footer__top">
    <div class="footer__top__col">
      {{ 'reso-icona@2x.png' | asset_url | img_tag: 'reso silverskin'}}
      {% comment %} <svg class="footer__top__col__icon">
        <use xlink:href="#return_icon"></use>
      </svg> {% endcomment %}
      <h4 class="footer__top__col__title"><ly-as-41883>30 GIORNI PER RESO E CAMBIO</ly-as-41883></h4>
    </div>
    <div class="footer__top__col">
      {{ 'pagamenti-sicuri-icona@2x.png' | asset_url | img_tag: 'pagamenti silverskin'}}
      {% comment %} <svg class="footer__top__col__icon">
        <use xlink:href="#secure_icon"></use>
      </svg> {% endcomment %}
      <h4 class="footer__top__col__title"><ly-as-41884>PAGAMENTI SICURI</ly-as-41884></h4>
    </div>
    <div class="footer__top__col">
      {{ 'testato-icona@2x.png' | asset_url | img_tag: 'testato silverskin'}}
      {% comment %} <svg class="footer__top__col__icon">
        <use xlink:href="#athlete_icons"></use>
      </svg> {% endcomment %}
      <h4 class="footer__top__col__title"><ly-as-41885>TESTATO DAGLI ATLETI</ly-as-41885></h4>
    </div>
    <div class="footer__top__col">
      {{ 'customer-care-icona@2x.png' | asset_url | img_tag: 'customer care silverskin'}}
      {% comment %} <svg class="footer__top__col__icon">
        <use xlink:href="#customer_care_icon"></use>
      </svg> {% endcomment %}
      <h4 class="footer__top__col__title"><ly-as-41886>CUSTOMER CARE</ly-as-41886></h4>
    </div>
  </div>
</div>