.slider-testimonial {
    text-align: center;
    .single-slide {
        margin-top: 40px;
        max-width: 400px;
        img.slide-image {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }
        .single-slide__slide_cit {

        }
        .single-slide__slide_subtitle {
            margin-top: 20px;
        }
        @media screen and (max-width: 768px) {
            margin: 0;
            max-width: unset;
            padding: 0 20px;
        }
    }
    .swiper-wrapper {
        justify-content: center;
        @media screen and (max-width: 768px) {
            justify-content: unset;
        }
    }
    @media screen and (max-width: 768px) {
        margin-top: 50px;
    }
}  