<div class="template-lp-stay-fresh">
  {% comment %} {%- include 'breadcrumbs' -%} {% endcomment %}

  <div class="intro">
    <!-- <div class="intro-content">
      <h2 class="intro-text js-intro-text">Base layers are uncomfortable in the heat </h2>
      <h2 class="intro-text js-intro-text">Should I wear a base layer in spring? </h2>
      <h2 class="intro-text js-intro-text">It’s too hot to wear a base layer in summer </h2>
      <h2 class="intro-text js-intro-text">Aren’t base layers just for winter? </h2>
      <progress class="progress-bar js-progress-bar" max="100" value=""></progress>

      <div class="intro-final js-intro-final">
        <h2>Our silver-fibre base layers keep you fresh through spring and summer. </h2>
        <span class="close-intro js-close-intro">Learn
          <img src="https://via.placeholder.com/80" alt="" /> more</span>
      </div>
    </div> -->
    <picture>
      <source
        srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-myth-mob-1x.jpg?v=1646729988"
        media="(max-width: 639px)">
      <source
        srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-myth-tab.jpg?v=1646748538"
        media="(min-width: 640px) and (max-width: 768px)">
      <source
        srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-myth-tab-02.jpg?v=1646750225"
        media="(min-width: 769px) and (max-width: 1024px)">
      <source
        srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-myth-desk-1x.jpg?v=1646729988"
        media="(min-width: 1025px)">

      <img class="intro-cover"
        src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-myth-desk-1x.jpg?v=1646729988"
        alt="" />
    </picture>
    <div class="intro-box">
      <div class="swiper-container swiper-intro">
        <div class="swiper-button-navigation intro-button-navigation intro-button-prev">
          <img
            src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-arrow-white.svg?v=1646729988"
            alt="" />
        </div>
        <div class="swiper-button-navigation intro-button-navigation intro-button-next">
          <img
            src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-arrow-white.svg?v=1646729988"
            alt="" />
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide-content">
              <span>#01</span>
              <h2 class="">Quando fa caldo il base layer è scomodo</h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <span>#02</span>
              <h2 class="">In primavera il base layer si indossa?</h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <span>#03</span>
              <h2 class="">Fa troppo caldo in estate per i base layer</h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <span>#04</span>
              <h2 class="">I base layer si usano solo in inverno?</h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <span>#05</span>
              <h2 class="">I nostri base layer con filato d’argento ti tengono fresco e asciutto anche in primavera ed
                estate.</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <a class="custom-btn white-btn js-close-intro">Scopri di più</a>

    </div>
  </div>
  <!-- Start Anchor -->
  <div class="stay-fresh-anchor">
    <div class=" stay-fresh-anchor-desc is-desc">
      <a class="js-anchor-link" data-attr="hero">Stay Fresh</a>
      <a class="js-anchor-link" data-attr="when">Quando?</a>
      <a class="js-anchor-link" data-attr="myths">Sfatiamo i miti</a>
      <a class="js-anchor-link" data-attr="layer">Layer up</a>
      <a class="js-anchor-link" data-attr="story">Nico Valsesia</a>
      <a href="https://www.silverskin.it/collections/stay-fresh-collection" class="shop-link">Acquista ora</a>
    </div>
    <div class="stay-fresh-anchor-mob is-mob">
      <select name="" id="stay-fresh-anchor">
        <option style="font-family: 'barlow-bold', Arial, Helvetica, sans-serif" selected="selected" value="hero"> Stay
          Fresh</option>
        <option style="font-family: 'barlow-bold', Arial, Helvetica, sans-serif" value="when">Quando?</option>
        <option style="font-family: 'barlow-bold', Arial, Helvetica, sans-serif" value="myths">Sfatiamo i miti
        </option>
        <option style="font-family: 'barlow-bold', Arial, Helvetica, sans-serif" value="layer">Layer up</option>
        <option style="font-family: 'barlow-bold', Arial, Helvetica, sans-serif" value="story">Nico Valsesia</option>
      </select>
      <a href="https://www.silverskin.it/collections/stay-fresh-collection" class="shop-link">Acquista ora</a>
    </div>
  </div>
  <!-- End Anchor -->
  <div class="lp-content js-inner-lp">
    <!-- Start Hero -->
    <div class="hero js-section-anchor" id="hero">
      <picture>
        <source
          srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-hero-desk-1x.jpg?v=1646729988"
          media="(min-width: 768px)">
        <source
          srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-hero-mob-1x.jpg?v=1646729988">
        <img class="hero-cover"
          src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-hero-desk-1x.jpg?v=1646729988"
          alt="" />
      </picture>
      <div class="lp-content-container">
        <div class="text-content">
          <p class="big">STAY FRESH</p>
          <h1>explore <br />the unseen</h1>
          <p class="big text-bold">Il nostro base layer dissipa il sudore e disperde il calore, lasciandoti asciutto e
            garantendoti estremo comfort anche quando le temperature sono elevate.</p>
        </div>
      </div>
      <span class="scroll-down js-scroll-down" data-attr="when">
        <img
          src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-arrow-white-hero.svg?v=1646732717"
          alt="" />
      </span>
    </div>
    <!-- End Hero -->
    <div class="arrow-w-separator"></div>
    <!-- ++++++++ -->
    <!-- Start When -->
    <div class="when js-section-anchor" id="when">
      <div class="lp-content-container">
        <div class="text-content">
          <h2 class="w-50">Anche in estate?</h2>
          <div class="right-cont w-50">
            <p class="big">REFRESH YOUR EXPECTATIONS</p>
            <p class="when-description">È quando il sole picchia e stai dando il massimo, che il potere termoregolante
              dell’argento entra in gioco. Il nostro base layer allontana il calore e il bagnato dalla tua pelle per
              lasciarti fresco e asciutto anche in estate.</p>
          </div>
        </div>
        <div class="assets-content">
          <span class="text-assets text-running">Corsa</span>
          <span class="text-assets text-cycling">Ciclismo</span>
          <span class="text-assets text-climbing">TREKKING <br />E ARRAMPICATA</span>
          <span class="text-assets text-moto">MOTO <br />TRAVEL</span>
          <picture>
            <source
              srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-running-desk-1x.jpg?v=1646729988"
              media="(min-width: 767px)">
            <source
              srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-running-mob-1x.jpg?v=1646729988">
            <img class="running"
              src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-running-desk-1x.jpg?v=1646729988"
              alt="" />
          </picture>
          <picture>
            <source
              srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-cycling-desk-1x.jpg?v=1646729988"
              media="(min-width: 767px)">
            <source
              srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-cycling-mob-1x.jpg?v=1646729988">
            <img class="cycling"
              src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-cycling-desk-1x.jpg?v=1646729988"
              alt="" />
          </picture>
          <picture>
            <source
              srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-moto-desk-1x.jpg?v=1646729988"
              media="(min-width: 767px)">
            <source
              srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-moto-mob-1x.jpg?v=1646729988">
            <img class="moto"
              src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-moto-desk-1x.jpg?v=1646729988"
              alt="" />
          </picture>
          <picture>
            <source
              srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-desk-1x.jpg?v=1646729989"
              media="(min-width: 767px)">
            <source
              srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-mob-1x.jpg?v=1646729988">
            <img class="material"
              src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-desk-1x.jpg?v=1646729989"
              alt="" />
          </picture>
          <picture>
            <source
              srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-climbing-desk-1x.jpg?v=1646729988"
              media="(min-width: 767px)">
            <source
              srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-climbing-mob-1x.jpg?v=1646729988">
            <img class="climbing"
              src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-climbing-desk-1x.jpg?v=1646729988"
              alt="" />
          </picture>
        </div>

        <!-- <div class="new-assets-content">
          <span class="text-assets text-running">Running</span>
          <span class="text-assets text-cycling">Cycling</span>
          <picture>
            <source srcset="https://via.placeholder.com/800x800" media="(min-width: 767px)">
            <source srcset="https://via.placeholder.com/277x346">
            <img class="running" src="https://via.placeholder.com/800x800" alt="" />
          </picture>
          <picture>
            <source srcset="https://via.placeholder.com/513x522" media="(min-width: 767px)">
            <source srcset="https://via.placeholder.com/179x224">
            <img class="cycling" src="https://via.placeholder.com/480x600" alt="" />
          </picture>
          <div class="box-assets">

            <span class="text-assets text-climbing">TREKKING <br />& CLIMBING</span>
            <span class="text-assets text-travel">MOTO<br /> TRAVEL</span>
            <picture>
              <source srcset="https://via.placeholder.com/545x682" media="(min-width: 767px)">
              <source srcset="https://via.placeholder.com/208x273">
              <img class="climbing" src="https://via.placeholder.com/750x760" alt="" />
            </picture>
            <picture>
              <source srcset="https://via.placeholder.com/642x653" media="(min-width: 767px)">
              <source srcset="https://via.placeholder.com/120x130">
              <img class="travel" src="https://via.placeholder.com/270x290" alt="" />
            </picture>
          </div>
        </div> -->
      </div>
    </div>
    <!-- End when -->
    <!-- ++++++++ -->
    <!-- Start myths -->
    <div class="myths js-section-anchor" id="myths">
      <picture>
        <source
          srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-myth-mob-1x.jpg?v=1646729988"
          media="(max-width: 639px)">
        <source
          srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-myth-tab.jpg?v=1646748538"
          media="(min-width: 640px) and (max-width: 768px)">
        <!-- <source
          srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-myth-tab-02.jpg?v=1646750225"
          media="(min-width: 769px) and (max-width: 1260px)"> -->
        <source
          srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-myth-desk-1x.jpg?v=1646729988"
          media="(min-width: 1261px)">

        <img class="intro-cover"
          src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverski-stayfresh-texture-myth-desk-1x.jpg?v=1646729988"
          alt="" />
      </picture>
      <div class="myths-content">
        <h2>Sfatiamo i miti</h2>
        <div class="separator"></div>
        <div class="swiper-container swiper-myths">
          <div class="swiper-button-navigation myths-button-navigation myths-button-prev">
            <img
              src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-arrow-white.svg?v=1646729988"
              alt="" />
          </div>
          <div class="swiper-button-navigation myths-button-navigation myths-button-next">
            <img
              src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-arrow-white.svg?v=1646729988"
              alt="" />
          </div>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-cont">
                <!-- <div class="slide-number">1</div> -->
                <img class="slide-myths-icon"
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-myth-01-icon.svg?v=1646729988"
                  alt="" srcset="">
                <h1 class="question-title">I base layer si usano solo in inverno</h1>
                <h3>Falso</h3>
                <p>Grazie al filato d’argento, i nostri base layer termoregolano la temperatura corporea qualunque sia
                  la condizione climatica esterna. La linea Stay Fresh è perfetta per le stagioni più calde e non solo
                  durante l’inverno </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-cont">
                <!-- <div class="slide-number">2</div> -->
                <img class="slide-myths-icon"
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-myth-02-icon.svg?v=1646757196"
                  alt="" srcset="">
                <h1 class="question-title">I base layer sono troppo pesanti per primavera ed estate.</h1>
                <h3>Falso</h3>
                <p>I nostri base layer accelerano l’evaporazione del sudore e rilasciano il calore in eccesso. La linea
                  stay fresh è stata studiata per tenerti fresco e asciutto con le temperature più alte. </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-cont">
                <!-- <div class="slide-number">3</div> -->
                <img class="slide-myths-icon"
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-myth-03-icon.svg?v=1646757196"
                  alt="" srcset="">
                <h1 class="question-title">I base layers trattengono il sudore</h1>
                <h3>Falso</h3>
                <p>I nostri base layer asciugano velocemente e sono traspiranti. Test hanno dimostrato che i nostri capi
                  asciugano tre volte più rapidamente dei base layer standard.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-cont">
                <!-- <div class="slide-number">4</div> -->
                <img class="slide-myths-icon"
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-myth-04-icon.svg?v=1646757196"
                  alt="" srcset="">
                <h1 class="question-title"> I base layer sono fastidiosi sulla pelle quando fa caldo</h1>
                <h3>Falso</h3>
                <p>I nostri base layer sono incredibilmente morbidi. Il design senza cuciture garantisce la totale
                  assenza di sfregamento.</p>
              </div>
            </div>
          </div>
          <div class="pagination-counter">
            <span class="current-slide-number"></span>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <!-- End myths -->
    <!-- ++++++++ -->
    <!-- Start layer -->


    <div class="layer js-section-anchor" id="layer">
      <h2 class="is-mob text-center">Layer Up</h2>
      <div class="layer-product-container lp-content-container">
        <div class="product-image">
          <div class="swiper-container swiper-layer">
            <!-- <div class="myths-button-prev"></div>
            <div class="myths-button-next"></div> -->
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/products/m-fresh-base-layer-maglia-smanicata-girocollo-anthracite-detail-01_1080x.jpg?v=1625575293"
                  alt="" srcset="">
              </div>
              <div class="swiper-slide">
                <img
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/products/w-fresh-base-layer-smanicato-girocollo-anthracite-detail-02_1080x.jpg?v=1625575306"
                  alt="" srcset="">
              </div>
              <div class="swiper-slide">
                <img
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/products/m-fresh-base-layer-maglia-corta-girocollo-pearlgrey_720x.jpg?v=1651738515"
                  alt="" srcset="">
              </div>
              <div class="swiper-slide">
                <img
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/products/w-warm-base-layer-maglia-corta-girocollo-pearlgrey-detail_86e09f1b-6be6-47e5-9dc7-bb8e0154d5c2_1080x.jpg?v=1625575274"
                  alt="" srcset="">
              </div>
              <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/products/DSC08108_1080x.jpg?v=1621239791"
                  alt="" srcset="">
              </div>
              <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/products/DSC08123_1080x.jpg?v=1621240301"
                  alt="" srcset="">
              </div>
              <div class="swiper-slide">
                <img
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/products/Calza-Bike-1-Anthracite-Sx_1080x.jpg?v=1624001206"
                  alt="" srcset="">
              </div>
              <div class="swiper-slide">
                <img
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/products/Calza-Endurance-Run-PearlGrey-Sx_1080x.jpg?v=1624001580"
                  alt="" srcset="">
              </div>
              <div class="swiper-slide">
                <img
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/products/Calza-Trek-Anthracite-Sx_1080x.jpg?v=1624000976"
                  alt="" srcset="">
              </div>
            </div>
          </div>
        </div>
        <div class="product-description ">
          <h2 class="is-desc">Layer Up</h2> <br />
          <div class="swiper-container thumbs-layer">
            <div class="swiper-wrapper">
              <!-- PROD 1 -->
              <div class="swiper-slide">
                <h3>Continua a muoverti anche quando fa caldo.</h3>
                <p>La tecnologia del filato del nostro base layer è studiata per accelerare l’evaporazione del sudore e
                  disperdere il calore mantenendoti fresco</p>
                <p class="big prod_name">Stay Fresh - Maglia termica Smanicata</p>
                <a class="custom-btn"
                  href="https://www.silverskin.it/collections/base-layer-maglie/products/base-layer-termico-girocollo-smanicato-antracite-sk005lnf">ACQUISTA
                  ORA</a>
              </div>
              <!-- PROD 2 -->
              <div class="swiper-slide">
                <h3>Continua a muoverti anche quando fa caldo.</h3>
                <p>La tecnologia del filato del nostro base layer è studiata per accelerare l’evaporazione del sudore e
                  disperdere il calore mantenendoti fresco</p>
                <p class="big prod_name">Stay Fresh - Maglia termica Smanicata</p>
                <a class="custom-btn"
                  href="https://www.silverskin.it/collections/base-layer-maglie/products/base-layer-termico-smanicato-anthracite">ACQUISTA
                  ORA</a>
              </div>
              <!-- PROD 3 -->
              <div class="swiper-slide">
                <h3>Arriva in vetta con un layer che segue perfettamente i tuoi movimenti.</h3>
                <p>Elasticità, design senza cuciture e morbidezza del tessuto, rendono questo layer come una seconda
                  pelle. </p>
                <p class="big prod_name">Stay Fresh - Maglia termica Manica Corta</p>
                <a class="custom-btn"
                  href="https://www.silverskin.it/collections/base-layer-maglie/products/stay-fresh-maglia-termica-manica-corta-girocollo-pearlgrey">ACQUISTA
                  ORA</a>
              </div>
              <!-- PROD 4 -->
              <div class="swiper-slide">
                <h3>Arriva in vetta con un layer che segue perfettamente i tuoi movimenti.</h3>
                <p>Elasticità, design senza cuciture e morbidezza del tessuto, rendono questo layer come una seconda
                  pelle. </p>
                <p class="big prod_name">Stay Fresh - Maglia termica Manica Corta </p>
                <a class="custom-btn"
                  href="https://www.silverskin.it/collections/base-layer-maglie/products/stay-fresh-maglia-termica-manica-corta-girocollo-pearlgrey-1">ACQUISTA
                  ORA</a>
              </div>
              <!-- PROD 5 -->
              <div class="swiper-slide">
                <h3>Stabilizza la tua temperatura che tu stia pedalando in salita o correndo in discesa.</h3>
                <p>Traspirante con una trama nel tessuto intorno al dorso che consente una veloce dispersione del
                  calore. </p>
                <p class="big prod_name">Stay Fresh - Canotta Ciclismo breathable knit design</p>
                <a class="custom-btn"
                  href="https://www.silverskin.it/collections/base-layer-maglie/products/stay-fresh-canotta-ciclismo-anthracite">ACQUISTA
                  ORA</a>
              </div>
              <!-- PROD 6 -->
              <div class="swiper-slide">
                <h3>Stabilizza la tua temperatura che tu stia pedalando in salita o correndo in discesa.</h3>
                <p>Traspirante con una trama nel tessuto intorno al dorso che consente una veloce dispersione del
                  calore. </p>
                <p class="big prod_name">Stay Fresh - Canotta Ciclismo breathable knit design</p>
                <a class="custom-btn"
                  href="https://www.silverskin.it/collections/base-layer-maglie/products/stay-fresh-canotta-ciclismo-anthracite-1">ACQUISTA
                  ORA</a>
              </div>
              <!-- PROD 7 -->
              <div class="swiper-slide">
                <h3>Pedala più lontano con un’imbottitura protettiva.</h3>
                <p>La pianta imbottita delle calze da bici aiuta la circolazione del piede garantendo massimo comfort.
                </p>
                <p class="big prod_name">Stay Fresh - Bike Socks </p>
                <a class="custom-btn"
                  href="https://www.silverskin.it/collections/calze/products/stay-fresh-bike-socks-anthracite-logo">ACQUISTA
                  ORA</a>
              </div>
              <!-- PROD 8 -->
              <div class="swiper-slide">
                <h3>Corri senza fastidi.</h3>
                <p>Queste calze sono rinforzate su dita e tallone, in modo da garantire estremo comfort e freschezza
                  anche per corse molto lunghe.
                </p>
                <p class="big prod_name">Stay Fresh - Endurance Run Socks</p>
                <a class="custom-btn"
                  href="https://www.silverskin.it/collections/calze/products/copia-del-stay-fresh-endurance-run-socks-anthracite">ACQUISTA
                  ORA</a>
              </div>
              <!-- PROD 9 -->
              <div class="swiper-slide">
                <h3>Stabilizza il tuo piedi quando cammini, con una protezione a 360 </h3>
                <p>Parti per lunghe escursioni con calze confortevoli, rinforzate su dita e tallone e con fasce laterali
                  stabilizzanti.</p>
                <p class="big prod_name">Stay Fresh - Trek Socks</p>
                <a class="custom-btn"
                  href="https://www.silverskin.it/collections/calze/products/stay-fresh-trek-socks-anthracite">ACQUISTA
                  ORA</a>
              </div>
            </div>
            <div class="navigation">
              <span class="swiper-button-navigation  thumb-button-prev">
                <img
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-arrow-black.svg?v=1646729988"
                  alt="" />
              </span>

              <div class="swiper-pagination"></div>
              <span class="swiper-button-navigation thumb-button-next">
                <img
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-arrow-black.svg?v=1646729988"
                  alt="" />
              </span>
            </div>
          </div>
        </div>
        <div class="next-product">
          <img src="https://via.placeholder.com/820x1000" alt="" srcset="">
        </div>
      </div>
    </div>
    <!-- End layer -->
    <!-- ++++++++ -->
    <!-- Start story -->
    <div class="story js-section-anchor" id="story">
      <div class="story-hero">
        <picture>
          <source
            srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/220324-silverskin-end-img-desk.jpg?v=1648542042"
            media="(min-width: 767px)">
          <source
            srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/220324-silverskin-end-img-mob.jpg?v=1648542042">
          <img class="story-cover"
            src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/220324-silverskin-end-img-desk.jpg?v=1648542042"
            alt="" />
        </picture>
        <div class="text-content-title">

          <h2>Nico Valsesia:<br />Atlas Mountain race</h2>
          <p class="big">La sfida estrema del recordman mondiale di bike + ultratrail di dislivello positivo.</p>
          <ul>
            <li>Quando: Febbraio 2020</li>
            <li>Durata: 5 giorni</li>
            <li>Temperature: +45°/ +10°</li>
            <li>Prodotto utilizzato: Stay Warm Long Sleeve</li>
          </ul>
        </div>
        <!-- <p class="story-first-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio minima sunt
            fuga ipsam impedit dolores. Iusto</p> -->
      </div>
      <div class="box-story lp-content-container">
        <div class="story-description">
          <p>Nel febbraio del 2020 Nico Valsesia, campione italiano di endurance, ha partecipato a una delle più
            estenuanti gare al mondo: la Atlas mountain race in Marocco. Con indosso la sua maglietta manica lunga
            Silverskin, Nico ha attraversato in soli 5 giorni la famosa catena montuosa marocchina, fronteggiando
            un’escursione termica di più di 30° tra giorno e notte.
          </p>
          <p>
            “Sapevo che mi sarei trovato a pedalare con temperature elevatissime, e mi serviva un base layer capace di
            assorbire e asciugare velocemente il sudore, tenendomi sempre termoregolato. Per questo ho indossato la mia
            Silverskin per 5 giorni consecutivi, senza mai toglierla.
          </p>
          <p>
            Potendomi portare solo lo stretto indispensabile, ho optato per una maglia a maniche lunghe che, oltre a
            termoregolare la temperatura corporea, mi proteggesse dai raggi solari. Nonostante la forte escursione
            termica, sono rimasto sempre fresco e asciutto.
          </p>
          <p>
            Alcuni base layer hanno la tendenza a irrigidirsi dopo una sudata. Silverskin, invece, rimane sempre morbida
            e confortevole sulla pelle e per giornate di pedalata sotto il sole cocente, la comodità è fondamentale.
          </p>
          <p>
            <a class="custom-btn" href="https://www.silverskin.it/pages/technology">Scopri la nostra tecnologia</a>
          </p>
        </div>
        <div class="story-slider">
          <div class="swiper-container swiper-story">
            <div class="navigation">
              <div class="swiper-button-navigation story-button-navigation story-button-next">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right"
                  viewBox="0 0 284.49 498.98">
                  <path
                    d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z">
                  </path>
                </svg>
              </div>
              <div class="swiper-button-navigation story-button-navigation story-button-prev">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left"
                  viewBox="0 0 284.49 498.98">
                  <path
                    d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z">
                  </path>
                </svg>
              </div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/220324-silverskin-carousel-01-desk.jpg?v=1648542042"
                    media="(min-width: 767px)">
                  <source
                    srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/220324-silverskin-carousel-01-mob.jpg?v=1648542042">
                  <img class="story-cover"
                    src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/220324-silverskin-carousel-01-desk.jpg?v=1648542042"
                    alt="" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/220324-silverskin-carousel-02-desk.jpg?v=1648542042"
                    media="(min-width: 767px)">
                  <source
                    srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/220324-silverskin-carousel-02-mob.jpg?v=1648542042">
                  <img class="story-cover"
                    src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/220324-silverskin-carousel-02-desk.jpg?v=1648542042"
                    alt="" />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <picture>
        <source
          srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-story-placeholder-03-1x.jpg?v=1646729989"
          media="(min-width: 767px)">
        <source
          srcset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-story-placeholder-03-mob-1x.jpg?v=1646729988">
        <img class="story-cover-end"
          src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-stayfresh-story-placeholder-03-1x.jpg?v=1646729989"
          alt="" />
      </picture> -->
    </div>
    <!-- End story -->
  </div>

</div>

<h2 class="stay-insta-title">Seguici su instagram</h2>
<div id="insta-feed">
</div>
{% section 'custom-fields-pages' %}
{% comment %} START - TRUST PILOT {% endcomment %}
<div class="recensioni-box">
  <div class="recensioni-box__content">
    <p>LEGGI LE NOSTRE RECENSIONI SU</p>
    <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/trust-pilot-logo-white.png?v=1609433803"
      alt="silverskin" />
    <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/trust-pilot-stars.png?v=1609433802"
      alt="silverskin" />
    <a href="https://it.trustpilot.com/review/www.silverskin.it" target="_blank" class="text-link">READ ALL</a>
  </div>
</div>
{% comment %} END - TRUST PILOT {% endcomment %}

<script>
    var headerWrapper = document.querySelector(".header-wrapper");
    headerWrapper.classList.add("is-light");
</script>

{{ 'tracciamenti-lp-stay-fresh.js' | asset_url | script_tag }}