
<div class="template-configuratore">

  {% comment %} {%- include 'breadcrumbs' -%} {% endcomment %}


      <div class="config__container" data-page="1">
        <div class="config__back go-to" data-page="2">
          <img class="only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-arrow-back-icon-2x.png?v=1646840280" alt="">
          <img class="only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-arrow-sx-desk-1x.png?v=1646663426" alt="">
          
        </div>
        <div class="config__position only-desk" >
          <div class="config__position--item config__position--1"><span>GENDER</span>
            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-selector-element-1x_00cc7193-f37e-41ca-83a4-fba49f650c6e.png?v=1647612895" alt="">
          </div>
          <div class="config__position--item config__position--2"><span>ACTIVITY</span>
            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-selector-element-1x_00cc7193-f37e-41ca-83a4-fba49f650c6e.png?v=1647612895" alt="">
          </div>
          <div class="config__position--item config__position--3"><span>TEMPERATURE</span>
            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-selector-element-1x_00cc7193-f37e-41ca-83a4-fba49f650c6e.png?v=1647612895" alt="">
          </div>

        </div>

          
        <div class="config__page config__page--1" data-page="1">
          <div>
          </div>
          <h2>WHEN YOU ARE DRY AND COMFORTABLE YOU PERFORM AT YOUR BEST.</h2>
          <button class="btn btn--black go-to" data-page="2">FIND YOUR IDEAL BASE LAYER</button>

        </div>
        <div class="config__page config__page--2" data-page="2">
          <h3 class="absolute-title">GENDER</h3>

          <div class="gender-selector__container configurator-js" data-property="gender" data-value="male">
            <img class="active"
              src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/01-silverskin-configurator-men-selected-mob-2x.png?v=1646409826"
              alt="MALE">
            <img class="deactive"
              
              src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/01-silverskin-configurator-men-deselected-mob-2x.png?v=1646409826"
              alt="MALE">
            <p>MAN</p>
            <div class="tic only-desk active">
              <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-selected-icon-1x.png?v=1646663426" alt="">
            </div>
            <div class="tic only-desk deactive">
              <img
                src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-deselected-icon-1x_54dc8064-1c31-4fc4-ae72-39cfcfe3987d.png?v=1649163582"
                alt="">
            </div>
          </div>
          <div class="gender-selector__container gender-selector__container--2 configurator-js" data-property="gender" data-value="female">
            <p>WOMAN</p>
            <img class="active"
              src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/01-silverskin-configurator-women-selected-mob-2x.png?v=1646409827"
              alt="FEMALE">
            <img class="deactive"
              src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/01-silverskin-configurator-women-deselected-mob-2x.png?v=1646409826"
              alt="FEMALE">
              <div class="tic only-desk active">
                <img
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-selected-icon-1x.png?v=1646663426"
                  alt="">
              </div>
                <div class="tic only-desk deactive">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-deselected-icon-1x_54dc8064-1c31-4fc4-ae72-39cfcfe3987d.png?v=1649163582"
                    alt="">
                </div>
          </div>   
        </div>
        <div class="config__page config__page--3" data-page="3">
          <h3>CHOOSE YOUR ACTIVITY</h3>
          <p class="subtitle">What will you do in your base layer?</p>
          <div class="activity__container--wrapper">

            <div class="activity__container">
              <div class="activity__item" data-value="RUNNING">
                <div class="activity__item-wrapper">
  
                  <img class="active main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-running-mob-2x.jpg?v=1646409826" alt="">
                  <img class="deactive main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-running-mob-1x-deactivated.jpg?v=1646752004" alt="">
                  <img class="active main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-running-desk-1x_e8e897a3-f5b0-4ec7-902b-bfa128c34ca7.jpg?v=1647425197" alt="">
                  <img class="deactive main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-running-desk-1x-deactivated.jpg?v=1647424662" alt="">
                  <img class="active close-icon" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-remove-icon-1x.png?v=1646663426" alt="">
                </div>
                <p>RUNNING</p>
              </div>
              <div class="activity__item" data-value="CYCLING">
                <div class="activity__item-wrapper">
                  <img class="active main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-cycling-mob-2x.jpg?v=1646409827" alt="">
                  <img class="deactive main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-cycling-mob-2x-deactivated.jpg?v=1646752004" alt="">
                  <img class="active main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-cycling-desk-1x_57b701d7-032b-4bf7-970a-0ea7d6e208ff.jpg?v=1647425199" alt="">
                  <img class="deactive main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-cycling-desk-1x-deactivated.jpg?v=1647425632" alt="">
                  <img class="active close-icon" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-remove-icon-1x.png?v=1646663426" alt="">
                 </div>
                <p>CYCLING</p>
              </div>
              <div class="activity__item" data-value="TREKKING">
                <div class="activity__item-wrapper">
                <img class="active main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-trekking-mob-2x_c7ac9344-f94b-44e8-a664-78f29dbd9678.jpg?v=1646654253" alt="">
                <img class="deactive main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-trekking-mob-2x-deactivated.jpg?v=1646752004" alt="">
                <img class="active main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-trekking-desk-1x_a7a37069-e167-422d-97d2-52d4cebd06fb.jpg?v=1647425874" alt="">
                <img class="deactive main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-trekking-desk-1x-deactivated.jpg?v=1647425197" alt="">
                <img class="active close-icon" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-remove-icon-1x.png?v=1646663426" alt="">
                 </div>
                <p>TREKKING</p>
              </div>
              <div class="activity__item" data-value="HIKING">
                <div class="activity__item-wrapper">
                <img class="active main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-climbing-mob-2x.jpg?v=1646409830" alt="">
                <img class="deactive main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-climbing-mob-2x-deactivated.jpg?v=1646752004" alt="">
                <img class="active main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-climbing-desk-1x_270081ad-745b-4ae1-adcf-2df0b30e185c.jpg?v=1647425197" alt="">
                <img class="deactive main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-climbing-desk-1x-deactivated.jpg?v=1647427940" alt="">
                <img class="active close-icon" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-remove-icon-1x.png?v=1646663426" alt="">
                 </div>
                <p>CLIMBING</p>
              </div>
              <div class="activity__item" data-value="ALPINISMO">
                <div class="activity__item-wrapper">
                <img class="active main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-mountaineering-mob-2x.jpg?v=1646409826" alt="">
                <img class="deactive main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-mountaineering-mob-2x-deactivated.jpg?v=1646752004" alt="">
                <img class="active main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-mountaineering-desk-1x_27e7059c-8cf9-419f-b990-6c808d06480f.jpg?v=1647425197" alt="">
                <img class="deactive main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-mountaineering-desk-1x-deactivated.jpg?v=1647425197" alt="">
                <img class="active close-icon" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-remove-icon-1x.png?v=1646663426" alt="">
                 </div>
                <p>MOUNTAIN- EERING</p>
              </div>
              <div class="activity__item" data-value="SKY/SNOW">
                <div class="activity__item-wrapper">
                <img class="active main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-ski-snowboarding-mob-2x.jpg?v=1646409826" alt="">
                <img class="deactive main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-ski-snowboarding-mob-2x-deactivated.jpg?v=1646752004" alt="">
                <img class="active main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-ski-snowboarding-desk-1x_ec7e5fe6-4e54-4022-987a-c0b004e6821a.jpg?v=1647425197" alt="">
                <img class="deactive main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-ski-snowboarding-desk-1x-deactivated.jpg?v=1647425197" alt="">
                <img class="active close-icon" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-remove-icon-1x.png?v=1646663426" alt="">
                 </div>
                <p>SKY & SNOWBOARDING</p>
              </div>
              <div class="activity__item" data-value="MOTO">
                <div class="activity__item-wrapper">
                <img class="active main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-motocross-mob-2x.jpg?v=1646409826" alt="">
                <img class="deactive main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-motocross-mob-2x-deactivated.jpg?v=1646752004" alt="">
                <img class="active main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-motocross-desk-1x_92bb0045-f146-45a2-9015-e879f96c51da.jpg?v=1647425197" alt="">
                <img class="deactive main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-motocross-desk-1x-deactivated.jpg?v=1647425197" alt="">
                <img class="active close-icon" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-remove-icon-1x.png?v=1646663426" alt="">
                 </div>
                <p>MOTOCROSS</p>
              </div>
              <div class="activity__item" data-value="TRAVEL">
                <div class="activity__item-wrapper">
                <img class="active main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-travel-commuting-mob-2x.jpg?v=1646409826" alt="">
                <img class="deactive main only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-travel-commuting-mob-2x-deactivated.jpg?v=1646752004" alt="">
                <img class="active main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-travel-commuting-desk-1x_0b05395f-d9ce-457e-853f-45813f6d10c7.jpg?v=1647425197" alt="">
                <img class="deactive main only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/02-silverskin-configurator-travel-commuting-desk-1x-deactivated.jpg?v=1647425197" alt="">
                <img class="active close-icon" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-remove-icon-1x.png?v=1646663426" alt="">
                 </div>
                <p>TRAVEL AND COMMUTING</p>
              </div>
  
              <hr class="only-mob"/>
              <div class="others-activities only-mob">
                <h3>ADD ANOTHER ACTIVITY</h3>
                <!-- <div class="other-activity">
                  <input type="text" value="Crossfit" readonly/>
                  <div class="other-activity-btn other-activity-delete"> - </div>
                </div> -->
              </div>
              <div class="other-activity other-activity--add only-mob">
                <input class="activity-add-input-js" type="text" placeholder="Attività Sportiva"  />
                <div class="other-activity-btn activity-add-btn-js"> <img class="active close-icon" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-add-icon-2x.png?v=1646840280" alt=""> </div>
              </div>
            </div>
            <div class="other-activity-container only-desk">           
            
           
              <div class="others-activities ">
                <h3>ADD ANOTHER ACTIVITY</h3>
                <!-- <div class="other-activity">
                            <input type="text" value="Crossfit" readonly/>
                            <div class="other-activity-btn other-activity-delete"> - </div>
                          </div> -->
              </div>
              <div class="other-activity other-activity--add ">
                <input class="activity-add-input-js activity-add-input-js-desk" type="text" placeholder="Attività Sportiva" />
                <div class="other-activity-btn activity-add-btn-js"> <img class="active close-icon"
                    src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-add-icon-2x.png?v=1646840280"
                    alt=""> </div>
              </div>
            
            
            </div>
          </div>

        </div>
        <div class="config__page config__page--4" data-page="4">
          <h3 class="absolute-title">TEMPERATURE</h3>
          <p class="subtitle">What’s the typical temperature<br /> when you work out?</p>
          
          <div class="slider-container">
            <div class="slider-wrapper">
              <div class="slider-title">
                <p>when outside is:</p> 
                <!-- <div class="tooltip">
                  <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-info-icon-1x.png?v=1646663426" alt="">
                  <span class="tooltiptext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
                </div> -->
              </div>
              <div class="noUiSlider" id="sliderTemperature"></div>
            </div>

            <div class="slider-wrapper">
            
              <div class="slider-title">
            
                <p>How sensitive are you to the outside temperature? </p>
                <div class="tooltip">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-info-icon-1x.png?v=1646663426"
                    alt="">
                  <span class="tooltiptext">*As you move from warmer to colder environments, between stages of activity and rest, do
                    you easily adjust to the
                    temperature or do you feel cold? </span>
                </div>
              </div>
              <div class="noUiSlider" id="sliderSensitivity"></div>
              <div class="intensity-label__container">
                <div class="intensity-label__item">NOT VERY SENSITIVE</div>
                <div class="intensity-label__item">VERY SENSITIVE</div>
              </div>
            </div>
            <div class="slider-wrapper only-desk">
              <div class="slider-title">
                <p>How intense are your sessions?</p>
                <div class="tooltip">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-info-icon-1x.png?v=1646663426"
                    alt="">
                  <span class="tooltiptext">*Do you push yourself hard and sweat a lot when you work out?</span>
                </div>
              </div>
              <div class="noUiSlider" id="sliderIntensityDesk"></div>
              <div class="intensity-label__container">
                <div class="intensity-label__item">LOW</div>
                <div class="intensity-label__item">MIDDLE</div>
                <div class="intensity-label__item">HIGH</div>
              </div>
            </div>
            <div class="slider-wrapper only-desk">
              <div class="slider-title">
            
                <p>What do you usually wear over your base layer? </p>
                <div class="tooltip">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-info-icon-1x.png?v=1646663426"
                    alt="">
                  <span class="tooltiptext">* Do you prefer to wear heavier mid and outer layers over a lightweight base? Or do you
                    prefer a heavier base with a lightweight mid and shell layer? </span>
                </div>
              </div>
              <div class="noUiSlider" id="sliderLayerDesk"></div>
              <div class="intensity-label__container">
                <div class="intensity-label__item">LIGHT</div>
                <div class="intensity-label__item">HEAVY</div>
            
              </div>
            </div>
          </div>
                    

        </div>
        <div class="config__page config__page--5" data-page="5">
          <h3 class="absolute-title">TEMPERATURE</h3>
          <p class="subtitle">What’s the typical temperature<br /> when you work out?</p>
          
          <div class="slider-wrapper">
            <div class="slider-title">
              <p>How intense are your sessions?</p>
              <div class="tooltip">
                <img
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-info-icon-1x.png?v=1646663426"
                  alt="">
                <span class="tooltiptext">*Do you push yourself hard and sweat a lot when you work out?</span>
              </div>
            </div>
            <div class="noUiSlider" id="sliderIntensity"></div>
            <div class="intensity-label__container">
              <div class="intensity-label__item">LOW</div>
              <div class="intensity-label__item">MIDDLE</div>
              <div class="intensity-label__item">HIGH</div>
            </div>
          </div>
          <div class="slider-wrapper">
            <div class="slider-title">
            
              <p>What do you usually wear over your base layer? </p>
              <div class="tooltip">
                <img
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-info-icon-1x.png?v=1646663426"
                  alt="">
                <span class="tooltiptext">* Do you prefer to wear heavier mid and outer layers over a lightweight base? Or do you prefer a heavier base with a lightweight mid and shell layer? </span>
              </div>
            </div>
            <div class="noUiSlider" id="sliderLayer"></div>
            <div class="intensity-label__container">
              <div class="intensity-label__item">LIGHT</div>
              <div class="intensity-label__item">HEAVY</div>

            </div>
          </div>
        </div>

        <div class="config__page config__page--6" data-page="6">
          <h3>BASED ON YOUR RESPONSES,<br class="only-mob" /> WE HIGHLY RECOMMEND</h3>

          <div class="selected_collection fresh ">
            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/04-silverskin-configurator-stay-fresh-badge-mob-2x.png?v=1646409826" alt="" />
            <vh class="only-desk"></vh>            
            <div class="collection-text-wrapper">
              <p>As you tend to work out in warmer environments, you need a layer that can dissipate heat and manage moisture away from
              your body. The Stay Fresh collection does exactly that.
              </p>
              <a href="#"target="_blank" class="config__bottom-nav--btn btn btn--black only-desk discover-collection-url-js">DISCOVER THE COLLECTION </a>
            </div>
          </div>

          <div class="selected_collection warm-fresh ">
            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/04-silverskin-configurator-stay-fresh-badge-mob-2x.png?v=1646409826" alt="" />
              <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/04-silverskin-configurator-stay-warm-badge-mob-2x.png?v=1646409826" alt="" />
            <vh class="only-desk"></vh>              
              <div class="collection-text-wrapper">
                <p>As you tend to work out in warmer environments, you need a layer that can dissipate heat and manage moisture away
                  from
                  your body. The Stay Fresh collection does exactly that.
                </p>
                <p>              
                  Take a look at our Stay Warm collection
                  if you tend to feel the cold as you move between different climates, or if you sweat a lot when you exercise.
                </p>
                <a href="#"target="_blank" class="config__bottom-nav--btn btn btn--black only-desk discover-collection-url-js">DISCOVER THE COLLECTION </a>
              </div>
          </div>

          <div class="selected_collection warm">
            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/04-silverskin-configurator-stay-warm-badge-mob-2x.png?v=1646409826" alt="" />
            <vh class="only-desk"></vh>            
            <div class="collection-text-wrapper">
              <p>As you tend to work out in warmer environments, you need a layer that can dissipate heat and manage moisture away from
              your body. The Stay Warm collection does exactly that.
              </p>
              <a href="#"target="_blank" class="config__bottom-nav--btn btn btn--black only-desk discover-collection-url-js">DISCOVER THE COLLECTION </a>
            </div>
          </div>

          <div class="selected_collection x-warm-warm ">
            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/04-silverskin-configurator-stay-warm-badge-mob-2x.png?v=1646409826" alt="" />
            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/04-silverskin-configurator-stay-xwarm-badge-mob-2x.png?v=1646409826" alt="" />
            <vh class="only-desk"></vh>              
              <div class="collection-text-wrapper">
                <p>As you tend to work out in warmer environments, you need a layer that can dissipate heat and manage moisture away
                  from
                  your body. The Stay Warm collection does exactly that.
                </p>
                <p>
                  Take a look at our Stay x-Warm collection
                  if you tend to feel the cold as you move between different climates, or if you sweat a lot when you exercise.
                </p>
                  <a href="#"target="_blank" class="config__bottom-nav--btn btn btn--black only-desk  discover-collection-url-js">DISCOVER THE COLLECTION </a>
              </div>
          </div>

          <div class="selected_collection x-warm">
            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/04-silverskin-configurator-stay-xwarm-badge-mob-2x.png?v=1646409826" alt="" />
            <vh class="only-desk"></vh>            
            <div class="collection-text-wrapper">
              <p>As you tend to work out in warmer environments, you need a layer that can dissipate heat and manage moisture away from
              your body. The Stay x-Warm collection does exactly that.
              </p>
                <a href="#"target="_blank" class="config__bottom-nav--btn btn btn--black only-desk discover-collection-url-js">DISCOVER THE COLLECTION </a>
            </div>
          </div>


          <a href="#"target="_blank" class="config__bottom-nav--btn btn btn--black only-mob discover-collection-url-js">DISCOVER THE COLLECTION </a>
        </div>

       
        <div class="config__bottom-nav disabled">
          <div class="config__bottom-nav--start only-mobflex">
            <div class="collection x-warm">
              <img class="active"
                src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-stay-xwarm-element-1x.png?v=1646663426"
                alt="">
              <img class="deactive"
                src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-stay-xwarm-element-deactivated-1x.png?v=1646752943"
                alt="">
            </div>
            <div class="collection warm">
              <img class="active"
                src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-stay-warm-element-1x.png?v=1646663426"
                alt="">
              <img class="deactive"
                src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-stay-warm-element-deactivated-1x.png?v=1646752947"
                alt="">
            </div>
            <div class="collection fresh">
              <img class="active"
                src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-stay-fresh-element-1x.png?v=1646663427"
                alt="">
              <img class="deactive"
                src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-stay-fresh-element-deactivated-1x.png?v=1646752943"
                alt="">
            </div>
          </div>
          <div class="config__bottom-nav--end">
            <div class="config__bottom-nav--start only-deskflex">
              <div class="collection x-warm">
                <img class="active"
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-stay-xwarm-element-1x.png?v=1646663426"
                  alt="">
                <img class="deactive"
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-stay-xwarm-element-deactivated-1x.png?v=1646752943"
                  alt="">
              </div>
              <div class="collection warm">
                <img class="active"
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-stay-warm-element-1x.png?v=1646663426"
                  alt="">
                <img class="deactive"
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-stay-warm-element-deactivated-1x.png?v=1646752947"
                  alt="">            
              </div>
              <div class="collection fresh">
                <img class="active"
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-stay-fresh-element-1x.png?v=1646663427"
                  alt="">
                <img class="deactive"
                  src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/silverskin-configurator-stay-fresh-element-deactivated-1x.png?v=1646752943"
                  alt="">            
              </div>
            </div>
            <div class="config__bottom-nav--step only-mob"> 
              <span class="page-js">1</span>
              <span class="static-page"> / 4 </span>
            </div>
            <button class="config__bottom-nav--btn btn btn--black go-to" data-page="2">CONTINUE</button>
            <div class="config__bottom-nav--step only-desk">
              <div class="step-container">

                <span class="page-js">1</span>
                <span class="static-page"> / 3 </span>
              </div>
            </div>
            <div class="config__bottom-nav--progress" data-page="1"></div>
          </div>
        </div>
      </div>


</div>

{% section 'custom-fields-pages' %}