<div class="page-collections-template">
    {% section 'page-collections-template' %}
</div>

<script>
    var headerWrapper = document.querySelector(".header-wrapper");
    headerWrapper.classList.add("is-light");
</script>

{% section 'custom-fields-pages' %}
