<div class="page-technology-template">
    {% section 'page-technology-template' %}
</div>
<script>
    var headerWrapper = document.querySelector(".header-wrapper");
    headerWrapper.classList.add("is-light");
</script>

{% section 'custom-fields-pages' %}
